.main {
    background: #ebeeef;
    padding: 150px 0;
}
.clear { clear: both; }
body {
	font-size: 13px;
    line-height: 1.8;
    color: $black-color;
    background: #ebeeef;
    font-weight: 400;
    font-family: Poppins;
}
